rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthorOrUser(exchangeEventId, auth) {
      let exchangeEvent = get(/databases/$(database)/documents/exchangeEvent/$(exchangeEventId));
      return auth.token.email in exchangeEvent.data.users || auth.uid == exchangeEvent.data.author.uid;
    }

    match /timedTeams/{gameId} {
      allow read: if true
    }

    match /timedTeams/{gameId}/teams/{teamId} {
      allow read: if true
    }
  }
}