rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /exchangeEvent/{exchangeEventId} {
      allow read: if resource.data.users[request.auth.token.email]
      allow write: if resource.data.author.uid == resource.auth.uid
    }

    match /wishLists/{wishListid} {
      allow read, write: if get(/databases/$(database)/documents/exchangeEvent/$(resource.data.exchangeEvent)).data.users[request.auth.token.email]
    }
  }
}